
<html>
   <head>
      <title>Project Contents</title>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.11/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/styles/nerc_arsf-style.css" type="text/css" />
      <link rel="icon" href="/images/favicon.gif" type="image/gif" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
      <script>
         $(function(){$( "#tabs" ).tabs({selected: 0});});
      </script>
   </head>
   <body>

   <div id="logo"><a href="https://www.nerc.ac.uk/"><img src="/images/nerc_logo.png" width="86" height="60" border="0" alt="NERC Homepage" title="NERC Homepage"></a></div>
   <div id="maintext" class="flowleft">

      <h2>Project contents</h2>

      <p>As the processing of the project data progresses more tabs and download links will become available </p>

      <div id="tabs">
         <ul>
         <li><a href="#downloadlink-tab">Download links</a></li>
         <li><a href="#video-tab">Flight Video</a></li>
         <!--TABLIST-EAGLEMOSAIC-->
         <!--TABLIST-HAWKMOSAIC-->
         <li><a href="#fenixmosaic-tab">Fenix Mosaic</a></li>
         <!--TABLIST-OWLMOSAIC-->
         <!--TABLIST-LIDARMOSAIC-->
         </ul>

         <div id="downloadlink-tab">
            <p>Click the following links to access the KML file or quicklook images.</p>
            <p><a href=RG12_09-2014_088.kml> RG12_09-2014_088.kml </a> - A Google Earth KML file </p>
            <p><a href=hyperspectral_lev0_jpgs> hyperspectral_lev0_jpgs </a> - Raw hyperspectral quicklooks </p>
            <p><a href=hyperspectral_lev3_jpgs> hyperspectral_lev3_jpgs </a> - Georeferenced hyperspectral quicklooks </p>
            <p><a href=hyperspectral_xml> hyperspectral_xml </a> - Human-readable XML meta-data files. </p>
            <p><a href=lidar_jpgs> lidar_jpgs </a> - LiDAR quicklooks </p>
            <p><a href=rcd_jpgs> rcd_jpgs </a> - RCD camera quicklooks </p>
            <p><a href=videos> videos </a> - Full resolution video of flight from web camera jpegs </p>
            <p><a href=webcam_jpgs> webcam_jpgs </a> - 'Web camera' quicklooks </p>
         </div>
         <div id="video-tab" style="text-align: center">
            <p>This is a video of the flight taken using the low-res 'webcam' associated with the lidar instrument. The camera is looking down.</p>
            <video controls autoplay width="320" height="256" >
{#               <source src="https://nerc-arf-dan.pml.ac.uk/kml/2014/RG12_09-2014_088/videos/RG12_09-2014_088-webcams-lowres.webm" type="video/webm">#}
{#            <source src="https://nerc-arf-dan.pml.ac.uk/kml/2014/RG12_09-2014_088/videos/RG12_09-2014_088-webcams-lowres.mp4" type="video/mp4">#}

              There is a problem with your browser playing this video - it may not support the HTML5 video tag.
            </video>
         </div>
         <div id="eaglemosaic-tab">
<!--eaglemosaic-->
         </div>
         <div id="hawkmosaic-tab">
<!--hawkmosaic-->
         </div>
         <div id="fenixmosaic-tab">
            <p>This is a mosaic of the quicklook images from the Fenix data. Click to see full resolution quicklook.</p>
{#            <p><a href="https://nerc-arf-dan.pml.ac.uk/kml/2014/RG12_09-2014_088/hyperspectral_lev3_jpgs/fenix_mosaic.jpg"> <img src="https://nerc-arf-dan.pml.ac.uk/kml/2014/RG12_09-2014_088/hyperspectral_lev3_jpgs/fenix_mosaic_thumbnail.jpg" alt="" width="800" /> </a> </p>#}

         </div>
         <div id="owlmosaic-tab">
<!--owlmosaic-->
         </div>
         <div id="lidarmosaic-tab">
<!--lidarmosaic-->
         </div>
      </div>
<a href='processor/jobrequest?day=219&year=2014&project=GB12_03&sortie=a'>219a</a><br>
<a href='processor/jobrequest?day=172&year=2014&project=RG12_09'>172</a><br>
<a href='processor/jobrequest?day=290&year=2014&project=RG13_06'>290</a><br>
<a href='processor/jobrequest?day=217&year=2014&project=GB13_08'>217</a><br>
<a href='processor/jobrequest?day=163a&year=2014&project=GB13_01'>163a</a><br>
<a href='processor/jobrequest?day=295&year=2014&project=RG13_06'>295</a><br>
<a href='processor/jobrequest?day=289&year=2014&project=RG13_06'>289</a><br>
<a href='processor/jobrequest?day=067&year=2014&project=GB14_00'>067</a><br>
<a href='processor/jobrequest?day=219&year=2014&project=GB14_04&sortie=b'>219b</a><br>
<a href='processor/jobrequest?day=241&year=2014&project=MA14_16'>241</a><br>
<a href='processor/jobrequest?day=068&year=2014&project=BAS13_01&sortie=b'>068b</a><br>
<a href='processor/jobrequest?day=088&year=2014&project=RG12_09'>088</a><br>
<a href='processor/jobrequest?day=294&year=2014&project=RG13_06'>294</a><br>
<a href='processor/jobrequest?day=298&year=2014&project=RG13_06'>298</a><br>
<a href='processor/jobrequest?day=069&year=2014&project=BAS13_01'>069</a><br>
<a href='processor/jobrequest?day=070&year=2014&project=BAS13_01'>070</a><br>
<a href='processor/jobrequest?day=306&year=2014&project=MA14_11'>306</a><br>
<a href='processor/jobrequest?day=281&year=2014&project=GB14_00'>281</a><br>
<a href='processor/jobrequest?day=075&year=2014&project=GB12_05'>075</a><br>
<a href='processor/jobrequest?day=291&year=2014&project=RG13_06'>291</a><br>
<a href='processor/jobrequest?day=221&year=2014&project=GB13_01'>221</a><br>
<a href='processor/jobrequest?day=288&year=2014&project=RG13_06'>288</a><br>
<a href='processor/jobrequest?day=152&year=2014&project=SELEXT14_01&sortie=b'>152b</a><br>
<a href='processor/jobrequest?day=283&year=2014&project=MA14_21'>283</a><br>
<a href='processor/jobrequest?day=063&year=2014&project=BAS13_01'>063</a><br>
<a href='processor/jobrequest?day=303&year=2014&project=RG13_06'>303</a><br>
<a href='processor/jobrequest?day=062&year=2014&project=BAS13_01'>062</a><br>
<a href='processor/jobrequest?day=296&year=2014&project=MA14_21'>296</a><br>
<a href='processor/jobrequest?day=216&year=2014&project=GB14_00'>216</a><br>
<a href='processor/jobrequest?day=317&year=2014&project=MA14_08'>317</a><br>
<a href='processor/jobrequest?day=309&year=2014&project=MA14_14'>309</a><br>
<a href='processor/jobrequest?day=219&year=2014&project=GB12_03&sortie=a'>219a</a><br>
<a href='processor/jobrequest?day=172&year=2014&project=RG12_09'>172</a><br>
<a href='processor/jobrequest?day=290&year=2014&project=RG13_06'>290</a><br>
<a href='processor/jobrequest?day=217&year=2014&project=GB13_08'>217</a><br>
<a href='processor/jobrequest?day=163&year=2014&project=GB13_01&sortie=a'>163a</a><br>
<a href='processor/jobrequest?day=295&year=2014&project=RG13_06'>295</a><br>
<a href='processor/jobrequest?day=289&year=2014&project=RG13_06'>289</a><br>
<a href='processor/jobrequest?day=067&year=2014&project=GB14_00'>067</a><br>
<a href='processor/jobrequest?day=219&year=2014&project=GB14_04&sortie=b'>219b</a><br>
<a href='processor/jobrequest?day=241&year=2014&project=MA14_16'>241</a><br>
<a href='processor/jobrequest?day=068&year=2014&project=BAS13_01&sortie=b'>068b</a><br>
<a href='processor/jobrequest?day=088&year=2014&project=RG12_09'>088</a><br>
<a href='processor/jobrequest?day=294&year=2014&project=RG13_06'>294</a><br>
<a href='processor/jobrequest?day=298&year=2014&project=RG13_06'>298</a><br>
<a href='processor/jobrequest?day=069&year=2014&project=BAS13_01'>069</a><br>
<a href='processor/jobrequest?day=070&year=2014&project=BAS13_01'>070</a><br>
<a href='processor/jobrequest?day=306&year=2014&project=MA14_11'>306</a><br>
<a href='processor/jobrequest?day=281&year=2014&project=GB14_00'>281</a><br>
<a href='processor/jobrequest?day=075&year=2014&project=GB12_05'>075</a><br>
<a href='processor/jobrequest?day=291&year=2014&project=RG13_06'>291</a><br>
<a href='processor/jobrequest?day=221&year=2014&project=GB13_01'>221</a><br>
<a href='processor/jobrequest?day=288&year=2014&project=RG13_06'>288</a><br>
<a href='processor/jobrequest?day=152&year=2014&project=SELEXT14_01&sortie=b'>152b</a><br>
<a href='processor/jobrequest?day=283&year=2014&project=MA14_21'>283</a><br>
<a href='processor/jobrequest?day=063&year=2014&project=BAS13_01'>063</a><br>
<a href='processor/jobrequest?day=303&year=2014&project=RG13_06'>303</a><br>
<a href='processor/jobrequest?day=062&year=2014&project=BAS13_01'>062</a><br>
<a href='processor/jobrequest?day=296&year=2014&project=MA14_21'>296</a><br>
<a href='processor/jobrequest?day=216&year=2014&project=GB14_00'>216</a><br>
<a href='processor/jobrequest?day=317&year=2014&project=MA14_08'>317</a><br>
<a href='processor/jobrequest?day=309&year=2014&project=MA14_14'>309</a><br>
<a href='processor/jobrequest?day=297&year=2014&project=RG13_06'>297</a><br>
<a href='processor/jobrequest?day=316&year=2014&project=MA14_10'>316</a><br>
<a href='processor/jobrequest?day=293&year=2014&project=RG13_06'>293</a><br>
<a href='processor/jobrequest?day=078&year=2014&project=GB14_00'>078</a><br>
<a href='processor/jobrequest?day=164&year=2014&project=GB13_01'>164</a><br>
<a href='processor/jobrequest?day=083&year=2014&project=GB12_04'>083</a><br>
<a href='processor/jobrequest?day=243&year=2014&project=MA14_21&sortie=b'>243b</a><br>
<a href='processor/jobrequest?day=159&year=2014&project=RG12_09'>159</a><br>
<a href='processor/jobrequest?day=302&year=2014&project=RG13_06&sortie=a'>302a</a><br>
<a href='processor/jobrequest?day=156&year=2014&project=GB13_10'>156</a><br>
<a href='processor/jobrequest?day=318&year=2014&project=MA14_08'>318</a><br>
<a href='processor/jobrequest?day=238&year=2014&project=GB14_00'>238</a><br>
<a href='processor/jobrequest?day=302&year=2014&project=PG14_01&sortie=b'>302b</a><br>
<a href='processor/jobrequest?day=315&year=2014&project=MA14_07'>315</a><br>
<a href='processor/jobrequest?day=141&year=2014&project=GB13_00'>141</a><br>
<a href='processor/jobrequest?day=304&year=2014&project=PG14_01'>304</a><br>
<a href='processor/jobrequest?day=163c&year=2014&project=BGS12_01'>163c</a><br>
<a href='processor/jobrequest?day=152&year=2014&project=GB12_05&sortie=a'>152a</a><br>
<a href='processor/jobrequest?day=152&year=2014&project=SELEX14_01&sortie=b'>152b</a><br>
<a href='processor/jobrequest?day=057&year=2014&project=GB14_00'>057</a><br>
<a href='processor/jobrequest?day=175&year=2014&project=AIRSAR&sortie=b'>175b</a><br>
<a href='processor/jobrequest?day=169&year=2014&project=GB12_03'>169</a><br>
<a href='processor/jobrequest?day=068&year=2014&project=BAS13_01&sortie=a'>068a</a><br>
<a href='processor/jobrequest?day=182&year=2014&project=GB14_00'>182</a><br>
  </div>
  </body>
</html>
